__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.vscode

api/Article/Collation/Resources/GoogleNews-vectors-negative300.bin
totally_safe_credentials.py

# Ignore React production build
client/build

# Ignore auxillary files
.idea
.DS_Store
roadmap.txt


